/* 
    Created on : Sep 6, 2016, 2:37:28 PM
    Author     : Marc
*/

::-webkit-scrollbar { 
    display: none; 
}

body{
    background-image: url("http://127.0.0.1/DODO/img/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainContent{
    position: fixed;
    left: 15.2%;
    width: 69%;
    height: 95%;
}

#mainInnerContent {
    height: 95%;
    overflow-y: auto;
}

#logoDiv{
    position: fixed;
    width: 14%;
}

#logo{
    width: 100%;
    height: 100%;
}

#newsDiv{
    position: fixed;
    top: 20%;
    width: 14%;
}

#userDiv{
    position: fixed;
    top: 8px;
    left: 85%;
    width: 14%;
    min-height: 200px;
}

#newsItems{
    height: 500px;
    overflow-y: auto;
}

#loading{
    margin: 0 auto;
}

#userImg{
    width: 75px;
    border: 2px solid darkgray;
}

#userTbl{
    position: absolute;
    left: 95px;
    top: 55px;
}

#logoutBtn{
    position: absolute;
    top: 160px;
    right: 20px;
    width: 75px;
}

#registerBack{
    position: relative;
    top: -30px;
    width: 75px;
}

#search{
    position: absolute;
    right: 15px;
    top: 30px;
}

.redBtn{
    background-color: darkgray;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    color: red;
    font-weight: bold;
    height: 30px;
}

.redBtn:hover{
    background-color: red;
    border: 1px solid darkgray;
    color: darkgray;
}

.userInput{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 96%;
    height: 20px;
}

#loginBtn{
    position: relative;
    left: 65%;
    margin-top: 5px;
    width: 32%;
}

#registerBtn{
    position: relative;
    left: 55%;
    margin-top: 10px;
    width: 45%;
}

.greenBtn{
    background-color: green;
    border: 1px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    color: #00ff00;
    font-weight: bold;
}

.greenBtn:hover{
    background-color: #00ff00;
    border: 1px solid green;
    color: green;
}

#pijl{
    position: relative;
    top: 8px;
    width: 50px;
}

#register{
    position: relative;
    top: -30px;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    color: blue;
    font-weight: bold;
}

#register:hover{
    background-color: blue;
    border: 1px solid lightblue;
    color: lightblue;
}

#adminBtn {
    position: absolute;
    top: 160px;
    right: 117px;
}

#terugBTN {
    position: absolute;
    top: 25px;
    right: 40px;
    width: 100px;
}

.newsItem{
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    border-radius: 12.5px;
    padding: 1em;
    margin-bottom: .5em;
    background: rgba(128, 128, 128, 0.5);
}

.news{
    text-decoration: none;
}

.news:link{
    color: darkblue;
    font-weight: bold;
}

.news:visited{
    color: darkgray;
}

.news:hover{
    color: blue;
}

.centerText{
    text-align: center;
}

.innerContent{
    margin: 1em;
}

.box{
    background: rgba(128, 128, 128, 0.5);
    border: 1px solid darkgray;
    border-radius: 25px;
}

.Tbl {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid green;
}

.Tbl th {
    background-color: green;
    color: white;
    height: 30px;
}

.Tbl td {
    border-bottom: 1px solid green;
    height: 20px;
}

.Tbl tbody tr:hover {
    background: rgba(128, 128, 128, 0.5);
}